{% extends "utils/main_card.html" %}
{% load crispy_forms_tags %}

{% block title %}
    tutor | {{title}}
{% endblock %}

{% block card_content %}

    <form action="{% url 'users:login' %}" method="POST">

        <div class="form-floating my-2">
            {% csrf_token %}
            {% crispy form %}
            <input class="w-100 btn btn-outline-primary mt-3" type="submit" value="Log-in">
        </div>

    </form>

    <div class="mx-auto my-3 text-center">
        <a href="{% url 'users:register' %}">Register</a>
    </div>
    
    <div class="mx-auto text-center">
        <a href="{% url 'users:default_log_in' %}">Log in without credentials</a>
    </div>

{% endblock %}