{% extends 'utils/main_card.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block card_content %}

    <img src="{{ object.thumbnail.url }}" class="mx-auto d-block" alt="" id="profile_picture"  width=250 height=150>
    <p class="m-2">Title: {{ object.title }}</p>
    <p class="m-2">Overview: {{ object.overview }}</p>
        <div class="text-center">
            {% if enroll_form %}
                <form action="{% url 'learning:student_enroll_course' %}" method="post">
                    {{ enroll_form }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-primary" value="Enroll now">
                </form>
            {% endif %}

            <div class="pt-3">
                <p>Author:</p>
                <a href="{% url 'users:profile' object.owner.profile.slug %}">{{object.owner.username}}</a>
            </div>
        </div>
{% endblock %}

