{% extends "layout/main.html" %}


{% block content %}
    <div class="container d-flex justify-content-around my-auto">
        <div class="card col-lg-{% if card_width %}{{ card_width }}{% else %}4{% endif %}">
            <main>

                <div class="card text-center">
                    <h3 class="fw-normal card-text card-header">
                        {{title}}
                    </h3>
                </div>

                <div class="p-5">
                    {% block card_content %}

                    {% endblock card_content %}
                </div>

            </main>
        </div>  
    </div>
{% endblock %} 

